@charset "utf-8";
body{
	/*background-image: url("../img/regist/zc.png");*/
	background-repeat: no-repeat;
	background-position: center top;
	/*font-family: "微软雅黑";*/
}
form{
	width: 450px;
	margin:0px auto 0px;
	border:4px solid transparent;
}
.kuang{
	width:450px;
	height:530px;
	margin:100px 100px 0;
	border:4px solid #000000;
	border-radius:25px;
	background-color:#FFFFFF;
	box-shadow:0 0 9px 5px #999;
}
h1{
	width: 300px;/* */
	text-align: center;
	text-shadow:#990000 0 0 3px;
    font-size:60px;
}

table{
	margin: 0 auto;
	/*text-align: center;*/
}
td{
	padding-top: 10px;
	height:45px;
	
}
.tds{
	font-size: 16px;
	text-align: right;
	/*font-family: "黑体";*/
	height:15px;
}

input{
	border: 2px solid #cccccc;
	width: 150px;
	height: 25px;
	border-radius:25px;
}

input[name='valistr']{
	width:80px;
}

img{
	vertical-align: top;
}

.sub_td{
	text-align: center;
	height:65px;
	
}

input[type='submit']{
	border: none;
	width:127px;
	height: 50px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bolder;
	background-image: url('../img/regist/zc_btn01.jpg');
}

input[type='submit']:hover{
	background-image: url('../img/regist/zc_btn02.jpg');
}

