@charset "utf-8";
body{
	font-family: "微软雅黑";
	font-size:14px;
	color:#666666;
}

#wrap{
	border:1px solid transparent;
	width:98%;
	float:right;
	margin-right:2%;
}


#wrap ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

#wrap ul li {
  display: inline-block;
  text-align: left;
  

/*   border-bottom: 1px solid #ddd; */
}

#wrap ul li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}


.prods{
	/* border:1px solid black; */
	display:inline-block;

	list-style: none;
  	margin: 0px;
  	padding: 0px;
  	height: 45%;
 	width: 100%;
  	background-color: #eee;
  	border-bottom: 1px solid #45489a;
}
.prods li{
	display: table;
  	text-align: center;
  	float: left;
  	margin: 0;
  	padding: 0;
  	/* border-bottom: 1px solid #ddd; */
  	
}
.li_prod {
	width:30%;
/*   	border:1px solid black; */
  	vertical-align:middle;
	display:table-cell;
/* 	border:1px solid black; */
  	
}

.li_prod img{
  	margin: 20% 30% 10% 30%;

	
}
.li_content{
	width:30%;
	
	
/* 	border:1px solid black; */
	
	display:inline-block;
}

.li_content h4 {
  padding-top: 7.5px;
  margin-top: 10%;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}
.li_content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.li_num{
	width:15%;
	
}
.li_num div{
/* 	border:1px solid black; */
	margin-top:20%;
	text-align:center;
	vertical-align:middle;
}
.li_num a{
	font-weight: bold;
	font-size:2em;
	
}
.li_num a:link{text-decoration:none;}/*点击前*/
.li_num a:visited{text-decoration:none;}/*点击后*/
.li_num a:active{text-decoration:none;}/*点击中*/
.li_num a:hover{text-decoration:none; }

.li_num input{
	width:30%;

	border-radius: 15px;
	margin: 30% 5% 0 5%; 
	font-weight: bold;
	text-align:center;
}
.li_total{
	
	width:15%;
/* 	border:1px solid black; */
	
}
.li_total h4{
	margin-top:50%;
	text-align:center;
	font-size: 21px;
  	font-weight: 600;
  	color: #232323;
  	letter-spacing: 0.5px;
}
.li_check{
	width:10%;
/* 	border:1px solid black; */
	
}
.li_check div{
	text-align:center;
	margin-top:80%;
	vertical-align:middle;
}
input[type=checkbox]{

-webkit-transform:scale(2);

}
.li_check a{
	text-align:center;
	margin-top:20%;
	margin-right:10%;
}

/*总计*/

.del_all{
	font-size: 1em;
	margin-left:-45%;
	font-weight: 600;
	color: #232323;
	letter-spacing: 0.5px;
}

#div_sum{
	float:left;
	margin-top:2%;
}
#div_sum span{
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	color: #7a7a7a;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}

.castImg{
	width: 30%;
}
.castIntro{
	width: 30%;
}
.castNum{
	width: 15%;
}
.castTotal{
	width: 15%;
}
.castSelect{
	width: 9.5%;
}

.money-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #696969;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}
.money-button a:hover {
  background-color: #232323;
  color: #fff;
}

